@media (min-width: 421px) {
}

@media (min-width: 481px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1025px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 1400px) {
    .header {
        padding: 20px 0;
        position: absolute;
    }
    .main__col {
        margin-right: auto;
    }
    .main-form {
        margin-top: 80px;
    }
    .main-appeal__sell-account {
        margin-bottom: 40px;
    }
    .main-appeal__sell-account:before {
        margin-top: 20px;
    }
    .main-appeal__logo {
        margin-bottom: 50px;
    }
    .main-appeal__payments {
        margin-bottom: 50px;
    }
    .header__logo-wrap:before {
        display: none;
    }
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
    .header__logo-wrap:before {
        display: none;
    }
    .main__price {
        min-width: 0;
        margin-left: -60px;
    }
    .main__col {
        width: 100%;
        max-width: 660px;
        flex-basis: 660px;
    }
    .main-form__header {
        margin-top: 50px;
    }
    .main__hero-bg--1 {
        margin-left: 0;
        left: -20vw;
        opacity: .3;
    }
    .main-appeal__logo {
        margin-right: auto;
        margin-left: auto;
    }
    .main-appeal__title {
        text-align: center;
    }
    .main-appeal__sell-account {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    :root {
        --font-title-size-1: 46px;
        --font-title-size-2: 34px;
        --font-title-size-3: 26px;
        --font-title-size-4: 20px;
        --font-title-size-5: 18px;
        --font-title-size-6: 18px;
    }
    .container {
        padding: 0 var(--gap);
    }
    .main__container {
        padding: 0;
    }
    .main__col {
        width: 100%;
        max-width: 100%;
        flex-basis: initial;
    }
    .header__logo {
        font-size: 26px;
    }
    .header__telegram-title {
        margin-right: 12px;
        font-size: 13px;
        line-height: 1.3;
    }
    .header__telegram-link {
        width: 34px;
        height: 34px;
        flex-basis: 34px;
    }
    .main-form {
        margin-top: 80px;
        padding: 40px;
    }
    .main__price {
        padding: 18px 20px;
        top: 10px;
    }
    .main__price-amount {
        min-width: 0;
    }
    .main-form__btn-prev {
        width: 24px;
        height: 24px;
        margin-right: 0;
        margin-left: -15px;
        right: initial;
        left: 0;
    }
    .main-form__title {
        max-width: 210px;
        padding-left: 26px;
    }
    .main__price-title {
        display: none;
    }
    .input-area__title {
        font-size: 17px;
    }
    .input-area__subtitle {
        font-size: 13px;
    }
    .input-area__tooltip {
        margin-left: 4px;
    }
    .btn {
        background: transparent;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 18px;
        letter-spacing: -.03em;
    }
    .main-form__btn {
        width: 100%;
    }
    .main-form:before {
        display: none;
    }
    .main-form {
        margin-bottom: 0;
    }
    .main-appeal {
        margin-top: 80px;
        padding: 40px;
        flex-direction: column;
    }
    .main-appeal.is-active {
        display: flex !important;
    }
    .main-appeal__logo {
        max-width: 180px;
        margin-bottom: 60px;
    }
    .main-appeal__payments {
        margin-bottom: 40px;
    }
    .main-appeal__footer {
        flex-wrap: wrap;
    }
    .main-appeal__footer-btn {
        width: 100%;
        margin: 0 0 20px;
    }
    .main-appeal__footer-description {
        display: none;
    }
    .main-appeal__ul {
        font-size: 15px;
    }
    .main-appeal__ul li {
        padding-left: 20px;
    }
    .main-appeal__ul li:not(:last-child) {
        margin-bottom: 20px;
    }
    .main-appeal__sell-account {
        background: rgba(255,207,0,.2);
        margin: 0;
        padding: 20px;
        order: 2;
    }
    .main-appeal__sell-account:before {
        display: none;
    }
    .main-appeal__sell-account-title {
        margin-right: 20px;
        box-shadow: none;
    }
    .main-appeal__sell-account-icon {
        color: var(--color-accent);
    }
    .main:before {
        background: rgba(4,9,20,.8);
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
    .main__hero-bg--1 {
        display: none !important;
    }
    .main-appeal__title {
        margin-bottom: 35px;
    }
}

@media (max-width: 575.98px) {
}

@media (max-width: 480px) {
    .main-appeal {
        padding: 20px 30px;
    }
    .main-form {
        padding: 20px 30px;
    }
}

@media (max-width: 420px) {
}