@import url('select2.min.css');

:root {
    --color-accent: #FFCF00;
    --color-white: #fff;
    --color-dark: #020712;
    --color-blue: #34AADF;
    --color-green: #2CBC1F;
    --color-pink: #DC457B;

    --font-size-default: 14px;
    --font-family-default: 'Roboto', sans-serif;
    --font-family-secondary: 'Bebas Neue', sans-serif;
    --font-title-size-1: 80px;
    --font-title-size-2: 60px;
    --font-title-size-3: 40px;
    --font-title-size-4: 30px;
    --font-title-size-5: 24px;
    --font-title-size-6: 18px;

    --gap: 20px;
}

/* fonts
=====================*/

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeueRegular.woff2') format('woff2'),
         url('../fonts/BebasNeueRegular.woff') format('woff'),
         url('../fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeueBold.woff2') format('woff2'),
         url('../fonts/BebasNeueBold.woff') format('woff'),
         url('../fonts/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* normalize
=====================*/

*,*:before,*:after{-webkit-box-sizing: border-box;box-sizing: border-box}
html{-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bold}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:0.1rem dotted buttontext}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* basic
=====================*/

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    background: var(--color-dark);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-default);
    line-height: 1.3;
    font-family: var(--font-family-default);
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

input,
button,
select,
textarea,
.btn {
    font-weight: normal;
    font-family: var(--font-family-default);
}

input,
button {
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

svg,
.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    color: inherit;
}

picture,
time {
    display: block;
}

::-webkit-input-placeholder {
    color: rgba(255,255,255,.5);
}

::-moz-placeholder {
    color: rgba(255,255,255,.5);
}

:-ms-input-placeholder {
    color: rgba(255,255,255,.5);
}

::-ms-input-placeholder {
    color: rgba(255,255,255,.5);
}

::placeholder {
    color: rgba(255,255,255,.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.title-size-1
.title-size-2
.title-size-3
.title-size-4
.title-size-5 {
    font-weight: bold;
    line-height: 1.3;
    font-family: var(--font-family-secondary);
}

h1,
.title-size-1 {
    font-size: var(--font-title-size-1);
}

h2,
.title-size-2 {
    font-size: var(--font-title-size-2);
}

h3,
.title-size-3 {
    font-size: var(--font-title-size-3);
}

h4,
.title-size-4 {
    font-size: var(--font-title-size-4);
}

h5,
.title-size-5 {
    font-size: var(--font-title-size-5);
}

h6,
.title-size-6 {
    font-size: var(--font-title-size-6);
}

/* components
=====================*/

#site {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    overflow: clip;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(var(--gap) * 2);
}

.container--size-md {
    max-width: 1240px;
}

.text-accent {
    color: var(--color-accent);
}

.row {
    margin: 0 calc(-1 * var(--gap));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.row__col {
    max-width: 100%;
    padding-right: var(--gap);
    padding-left: var(--gap);
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.row__col--5 {
    max-width: 41.6666666667%;
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
}

.row__col--7 {
    max-width: 58.3333333333%;
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
}

.btn {
    background: #0B101A;
    padding: 18px 31px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-white);
    text-align: center;
    text-transform: initial;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border: 2px solid var(--color-accent);
    -webkit-box-shadow: 0 16px 24px rgba(232,189,0,.2);
            box-shadow: 0 16px 24px rgba(232,189,0,.2);
    border-radius: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: background, color, -webkit-box-shadow;
    transition-property: background, color, -webkit-box-shadow;
    -o-transition-property: background, color, box-shadow;
    transition-property: background, color, box-shadow;
    transition-property: background, color, box-shadow, -webkit-box-shadow;
}

.btn:hover {
    text-decoration: none;
}

.btn--theme-simple {
    border-radius: 0;
}

.btn--theme-simple:hover {
    -webkit-box-shadow: 0 16px 24px rgba(232,189,0,.2),
                0 0 0 2px var(--color-accent);
            box-shadow: 0 16px 24px rgba(232,189,0,.2),
                0 0 0 2px var(--color-accent);
}

.btn--theme-rounded {
    min-height: 72px;
    padding-right: 36px;
    padding-left: 36px;
    border-width: 3px;
    font-size: 22px;
    color: var(--color-accent);
    border-radius: 46px;
}

.btn--theme-rounded:hover {
    -webkit-box-shadow: 0 16px 24px rgba(232,189,0,.2),
                0 0 0 2px var(--color-accent);
            box-shadow: 0 16px 24px rgba(232,189,0,.2),
                0 0 0 2px var(--color-accent);
}

.select2 {
    font-size: 24px;
}

.select2-container--open .select2-dropdown--above {
}

.select2-container--default .select2-selection--single {
    background: #141B28;
    width: 100%;
    min-height: 48px;
    padding: 8px 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: var(--color-white);
    border: none;
    border-radius: 8px !important;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
}

.select2-container--default .select2-selection--single:hover,
.select2-container--default .select2-selection--single:focus {
    -webkit-box-shadow: 0 0 0 1px rgba(255,207,0,.8),
                0 0 14px 4px rgba(255,207,0,.3);
            box-shadow: 0 0 0 1px rgba(255,207,0,.8),
                0 0 14px 4px rgba(255,207,0,.3);
}

.select2-container--default .select2-selection--single:disabled,
.select2-container--default .select2-selection--single.disabled {
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
}

.select2-container--default.select2-container--open.select2-container--below
.select2-selection--single, .select2-container--default.select2-container--open
.select2-container--below .select2-selection--multiple {
    border-radius: 8px;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
    color: var(--color-white);
    line-height: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: initial;
    height: initial;
    margin: 0 -4px 0 auto;
    position: relative;
    top: 0;
    right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background: 50% no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' fill='%23fff' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 9.5L2 4.5H12L7 9.5Z'/%3E%3C/svg%3E");
    width: 14px;
    height: 14px;
    display: block;
    margin: 0;
    border: none;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.select2-container--default.select2-container--open .select2-selection--single
.select2-selection__arrow b {
    -webkit-transform: scale(-1);
        -ms-transform: scale(-1);
            transform: scale(-1);
}

.select2-dropdown {
    background: #141B28;
    margin-top: 4px;
    border: none;
    -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    border-radius: 8px !important;
}

.select2-container--default .select2-results > .select2-results__options,
.select2-results__options {
    max-height: 243px;
}

.select2-results__options {
    padding: 4px;
    scrollbar-color: #d1d5db transparent;
    scrollbar-width: thin;
}

.select2-results__options::-webkit-scrollbar {
    width: 4px;
}

.select2-results__options::-webkit-scrollbar-track {
    border: solid 6px transparent;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 18px;
    border: 6px solid transparent;
}

.select2-results__option {
    background: transparent;
    width: 100%;
    padding: 11px 10px 8px;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-white) !important;
    text-align: left;
    border: none;
    border-radius: 4px;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition: all 0.24s;
    -o-transition: all 0.24s;
    transition: all 0.24s;
    -webkit-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
}

.select2-results__option + .select2-results__option {
    margin-top: 4px;
}

.select2-container--default .select2-results__option--disabled {
    color: rgba(255,0,0,.8);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
    background: #434954 !important;
    text-decoration: none;
    color: var(--color-white) !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255,255,255,.5);
}

.select-el {
    background: #141B28;
    width: 100%;
    min-height: 48px;
    padding: 8px 10px;
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    outline: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
}

.input-el {
    background: #141B28;
    width: 100%;
    min-height: 48px;
    padding: 8px 10px;
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    outline: none;
    -webkit-transition: all .34s;
    -o-transition: all .34s;
    transition: all .34s;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
}

.input-el:hover {
    -webkit-box-shadow: 0 0 0 1px rgba(255,207,0,.5);
            box-shadow: 0 0 0 1px rgba(255,207,0,.5);
}

.input-el:focus {
    -webkit-box-shadow: 0 0 0 1px rgba(255,207,0,.8),
                0 0 14px 4px rgba(255,207,0,.3);
            box-shadow: 0 0 0 1px rgba(255,207,0,.8),
                0 0 14px 4px rgba(255,207,0,.3);
}

.radio-el {
    width: 80px;
    height: 48px;
    display: block;
    cursor: pointer;
    position: relative;
}

.radio-el--yes {
    color: var(--color-green);
}

.radio-el--no {
    color: var(--color-pink);
}

.radio-el__input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.radio-el__input:checked ~ .radio-el__inner {
    color: var(--color-white);
}

.radio-el--yes .radio-el__input:checked ~ .radio-el__inner {
    background: var(--color-green);
    border-color: var(--color-green);
}

.radio-el--no .radio-el__input:checked ~ .radio-el__inner {
    background: var(--color-pink);
    border-color: var(--color-pink);
}

.radio-el__inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    border: 1px dashed currentColor;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.input-area__radio-group.is-active .radio-el__inner {
    background: transparent;
    color: #141B28;
    border-color: #141B28;
}

.radio-el__input:not(:checked) ~ .radio-el__inner:hover {
    color: var(--color-white) !important;
}

.textarea-el {
    background: #141B28;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 82px;
    padding: 8px 10px;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    outline: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    resize: vertical;
}

.textarea-el:hover {
    -webkit-box-shadow: 0 0 0 1px rgba(255,207,0,.5);
            box-shadow: 0 0 0 1px rgba(255,207,0,.5);
}

.textarea-el:focus {
    -webkit-box-shadow: 0 0 0 1px rgba(255,207,0,.8),
                0 0 14px 4px rgba(255,207,0,.3);
            box-shadow: 0 0 0 1px rgba(255,207,0,.8),
                0 0 14px 4px rgba(255,207,0,.3);
}

.input-area__label {
    margin: 0 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: 1.2;
}

.input-area__title {
    font-weight: bold;
    font-size: 18px;
}

.input-area__tooltip {
    width: 20px;
    height: 20px;
    margin: 0 0 0 16px;
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #8A98B1;
    text-align: center;
    border: 1px solid #303A4B;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    vertical-align: middle;
    position: relative;
}

.input-area__tooltip:hover {
    background: #303A4B;
}

.input-area__tooltip:after {
    background: var(--color-dark);
    width: 180px;
    margin: 4px 0 0 -90px;
    padding: 6px;
    content: attr(data-tooltip);
    font-size: 12px;
    line-height: 1.3;
    color: var(--color-white);
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 8px rgba(255,255,255,.1);
            box-shadow: 0 1px 8px rgba(255,255,255,.1);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, visibility, -webkit-transform;
    -o-transition-property: transform, opacity, visibility;
    transition-property: transform, opacity, visibility;
    transition-property: transform, opacity, visibility, -webkit-transform;
    pointer-events: none;
    z-index: 1;
}

.input-area__tooltip:not(:hover):after {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.input-area__subtitle {
    margin: -14px 0 16px;
    display: block;
    font-style: italic;
    font-size: 14px;
    color: rgba(255,255,255,.3);
}

.input-area__select-group {
    margin: 0 -4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-area__select {
    margin: 0 4px;
}

.input-area__select--day {
    width: 80px !important;
}

.input-area__select--month {
    width: 80px !important;
}

.input-area__select--year {
    width: 100px !important;
}

.input-area__el {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.input-area__el--12 {
    width: 100%;
}

.input-area__el--6 {
    width: 160px;
}

.input-area__radio-group {
    margin: 0 -4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-area__radio {
    margin: 0 4px;
}

.input-area__textarea {
    margin: 16px 0 0;
}

.input-area__textarea.is-hide {
    display: none;
}

/* header
=====================*/

.header {
    padding: 40px 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 4;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.header__logo-wrap {
    display: block;
    text-align: center;
    position: relative;
}

.header__logo-wrap:before {
    background: url(../images/header-logo-decor.png) 50% no-repeat;
    background-size: contain;
    width: 308px;
    height: 49px;
    margin: 0 auto 30px;
    content: '';
    display: block;
}

.header__logo {
    display: inline-block;
    font-weight: bold;
    font-size: 34px;
    font-family: var(--font-family-secondary);
    text-transform: uppercase;
    vertical-align: top;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    pointer-events: auto;
    position: relative;
}

.header__logo:hover {
    text-decoration: none;
    opacity: .6;
}

.header__telegram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__telegram-title {
    margin-right: 16px;
    line-height: 1.5;
    color: var(--color-blue);
}

.header__telegram-link {
    width: 44px;
    height: 44px;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44px;
            flex: 0 0 44px;
    pointer-events: auto;
    position: relative;
}

.header__telegram-link:hover {
    text-decoration: none;
}

.header__telegram-link:before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.header__telegram-icon {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
    transition-property: -webkit-box-shadow, -webkit-transform;
    -o-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.header__telegram-link:hover .header__telegram-icon {
    -webkit-box-shadow: 0 8px 32px #34AADF;
            box-shadow: 0 8px 32px #34AADF;
    -webkit-transform: scale(1.18);
        -ms-transform: scale(1.18);
            transform: scale(1.18);
}

/* main
=====================*/

.main {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.main__hero {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: -1;
}

.main__hero-bg {
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.main__hero-bg--1 {
    background-image: url(../images/main-hero-1.png);
    background-size: auto 95%;
    background-position: left bottom;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.main__hero-bg--2 {
    background-image: url(../images/main-hero-2.png);
    width: 480px;
    height: 232px;
    top: 0;
    right: 10vw;
    opacity: .5;
}

.main__hero-bg--3 {
    background-image: url(../images/main-hero-3.png);
    width: 98px;
    height: 97px;
    top: 20vh;
    right: 15vw;
}

.main__hero-bg--4 {
    background-image: url(../images/main-hero-3.png);
    width: 98px;
    height: 97px;
    margin-left: -200px;
    bottom: 15vh;
    left: 50%;
    z-index: 3;
}

.main__hero-bg--5 {
    background-image: url(../images/main-hero-2.png);
    width: 480px;
    height: 232px;
    margin-left: -240px;
    bottom: 0;
    left: 50%;
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1);
    z-index: 2;
}

.main__hero-bg--6 {
    background-image: url(../images/gradient-1.png);
    width: 960px;
    height: 960px;
    top: -480px;
    left: -480px;
    z-index: 3;
}

.main__hero-bg--7 {
    background-image: url(../images/gradient-2.png);
    width: 960px;
    height: 960px;
    bottom: -480px;
    right: -480px;
    z-index: 3;
}

.main__price {
    background: rgba(255,255,255,.12);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 192px;
    margin: -127px -53px 52px auto;
    padding: 15px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: sticky;
    top: 20px;
    right: calc(var(--gap) * 2);
    border-right: 2px solid #FFCF00;
    border-radius: 4px;
    z-index: 2;
}

.main__price-title {
    margin-right: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255,255,255,.5);
    text-align: right;
    white-space: nowrap;
}

.main__price-amount {
    font-weight: 500;
    font-size: 26px;
    color: var(--color-white);
    -ms-flex-negative: 0;
        flex-shrink: 0;
    white-space: nowrap;
}

.main__container {
}

.main__row {
}

.main__col {
    margin-left: auto;
}

.main-appeal {
    padding: 80px 0;
    position: relative;
    z-index: 2;
}

.main-appeal--main {
    padding: 4vh 0;
}

.main-appeal--info {
    display: none;
}

.main-appeal.is-hide {
}

.main-appeal__logo {
    width: 100%;
    max-width: 249px;
    height: auto;
    margin: 0 0 6vh;
    display: block;
}

.main-appeal__title {
    margin: 0 0 14px;
    line-height: 1;
    text-transform: uppercase;
}

.main-appeal__sell-account {
    margin: 0 0 6vh;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-family: var(--font-family-secondary);
    color: var(--color-accent);
    text-transform: uppercase;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    position: relative;
}

.main-appeal__sell-account:before {
    background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 1px;
    margin-top: 4vh;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    opacity: .1;
}

.main-appeal__sell-account:hover {
    text-decoration: none;
}

.main-appeal__sell-account-title {
    margin-right: 12px;
    line-height: 1;
    color: rgba(255,255,255,.5);
    -webkit-box-shadow: 0 1px 0 currentColor;
            box-shadow: 0 1px 0 currentColor;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
}

.main-appeal__sell-account:hover .main-appeal__sell-account-title {
    color: var(--color-accent);
}

.main-appeal__sell-account-icon {
    width: 14px;
    height: 14px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14px;
            flex: 0 0 14px;
}

.main-appeal__ul {
    margin: 0 0 16px;
    padding: 0;
    list-style-type: none;
    font-size: 17px;
}

.main-appeal__ul--info {
    margin-bottom: 60px;
}

.main-appeal__ul li {
    margin: 0;
    padding: 0 0 0 26px;
    position: relative;
}

.main-appeal__ul li:not(:last-child) {
    margin-bottom: 25px;
}

.main-appeal__ul li:before {
    background: var(--color-accent);
    width: 6px;
    height: 6px;
    content: '';
    position: absolute;
    top: .4em;
    left: 0;
    border-radius: 50%;
}

.main-appeal__ul strong {
    font-weight: 900;
}

.main-appeal__payments {
    margin: 0 -8px 7vh -8px;
    padding-left: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-appeal__payments-item {
    margin: 0 8px 16px 8px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.main-appeal__payments-item:not(:hover) {
    opacity: .6;
}

.main-appeal__payments-item img {
    width: auto;
    height: 24px;
    display: block;
}

.main-appeal__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-appeal__footer-btn {
    margin-right: 40px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.main-appeal__footer-description {
    font-size: 12px;
    line-height: 1.5;
    color: rgba(255,255,255,.5);
}

.main-form {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.04)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 100%);
    margin: 100px 0;
    padding: 52px;
    display: none;
    position: relative;
    z-index: 0;
}

.main-form:before {
    background-image: radial-gradient(circle at 100% 100%, transparent 9px, rgba(255,255,255,0) 9px, rgba(255,255,255,0) 10px, transparent 10px), -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), to(rgba(255,255,255,0))), radial-gradient(circle at 0% 100%, transparent 9px, rgba(255,255,255,0) 9px, rgba(255,255,255,0) 10px, transparent 10px), -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,.2))), radial-gradient(circle at 0% 0%, transparent 9px, rgba(255,255,255,.2) 9px, rgba(255,255,255,.2) 10px, transparent 10px), -webkit-gradient(linear, right top, left top, from(rgba(255,255,255,.2)), to(rgba(255,255,255,.2))), radial-gradient(circle at 100% 0%, transparent 9px, rgba(255,255,255,.2) 9px, rgba(255,255,255,.2) 10px, transparent 10px), -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,.2)), to(rgba(255,255,255,0)));
    background-image: -o-radial-gradient(100% 100%, circle, transparent 9px, rgba(255,255,255,0) 9px, rgba(255,255,255,0) 10px, transparent 10px), -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0)), -o-radial-gradient(0% 100%, circle, transparent 9px, rgba(255,255,255,0) 9px, rgba(255,255,255,0) 10px, transparent 10px), -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.2)), -o-radial-gradient(0% 0%, circle, transparent 9px, rgba(255,255,255,.2) 9px, rgba(255,255,255,.2) 10px, transparent 10px), -o-linear-gradient(right, rgba(255,255,255,.2), rgba(255,255,255,.2)), -o-radial-gradient(100% 0%, circle, transparent 9px, rgba(255,255,255,.2) 9px, rgba(255,255,255,.2) 10px, transparent 10px), -o-linear-gradient(bottom, rgba(255,255,255,.2), rgba(255,255,255,0));
    background-image: radial-gradient(circle at 100% 100%, transparent 9px, rgba(255,255,255,0) 9px, rgba(255,255,255,0) 10px, transparent 10px), linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0)), radial-gradient(circle at 0% 100%, transparent 9px, rgba(255,255,255,0) 9px, rgba(255,255,255,0) 10px, transparent 10px), linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.2)), radial-gradient(circle at 0% 0%, transparent 9px, rgba(255,255,255,.2) 9px, rgba(255,255,255,.2) 10px, transparent 10px), linear-gradient(to left, rgba(255,255,255,.2), rgba(255,255,255,.2)), radial-gradient(circle at 100% 0%, transparent 9px, rgba(255,255,255,.2) 9px, rgba(255,255,255,.2) 10px, transparent 10px), linear-gradient(to top, rgba(255,255,255,.2), rgba(255,255,255,0));
    background-size: 10px 10px, calc(100% - 20px) 1px, 10px 10px, 1px calc(100% - 20px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: -1;
}

.main-form__header {
    margin: 0 0 52px;
    position: relative;
}

.main-form__btn-prev {
    background: transparent;
    width: 32px;
    height: 32px;
    margin: -16px 54px 0 0;
    font-size: 0;
    color: var(--color-white);
    position: absolute;
    top: 50%;
    right: 100%;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 1;
}

.main-form__btn-prev:not(:hover) {
    opacity: .5;
}

.main-form__btn-prev:before {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
}

.main-form__btn-prev .icon {
    width: 100%;
    height: 100%;
    display: block;
}

.main-form__title {
    margin: 0;
    text-transform: uppercase;
}

.main-form__input:not(:last-child) {
    margin-bottom: 32px;
}

.main-form__contacts {
    margin-top: 52px;
    padding-top: 52px;
    border-top: 1px solid rgba(217,217,217,.3);
}

.main-form__btn {
    margin-top: 52px;
}